/* html, body {
    height: 100%;
}

html {
    display: table;
    margin: auto;
} */

body {
    padding-top: 25px;
    /* margin: auto; */
    /* display: table-cell; */

    background-image: url("blue.jpg");
}

#header {
    border: 3px solid lightskyblue;
    padding: 5px;
    text-align: center;
}

#canvasOutput, #waitingMsg {
    float: right;
}