<!doctype html>
<html>

<head>
    <title>Rock-Paper-Scissor</title>
    <link rel="icon" type="image/png" href="scissor_icon.png" />
    <link rel="stylesheet" href="styles.css">
</head>

<body>
    <header id="header">
        <a href="/">Play game!</a>&emsp;|&emsp;
        <a href="predictor">Only predictions</a>&emsp;|&emsp;
        <a href="howto">How to play?</a>
    </header>

    {% block content %}{% endblock %}
</body>

</html>