{% extends "base.html" %}
{% block content %}
<h3>Rock paper scissors in a nutshell</h3>

<p>It is a 2 player game.<br>
    Count down from 3, and then pick a sign: rock, paper, or scissors.<br>
<ul>
    <li>Rock crushes scissors</li>
    <li>Scissors cuts paper</li>
    <li>Paper covers rock</li>
</ul>
The match for you can either be win, lose, or draw.<br>
<br>
Choose wisely<a href="http://kszl.kolumban.hu/kettes-proba-hozzaszolas/">!</a>
</p>

<h3>The Agents</h3>
<p>
    The bot can play:<br>
<ul>
    <li><b>random</b> movements</li>
    <li><b>cheater</b> moves, that wins 100% (if it recognizes your hand gesture), just like the <a
            href="https://youtu.be/ZVNnoOcohaU"><i>Janken robot</i></a></li>
    <li><b>smartly</b>, which takes into account the <a href="http://www.sussex.ac.uk/broadcast/read/34501"><i>win-stay,
                lose-shift</i> strategy</a></li>
</ul>
</p>
{% endblock %}