{% extends "base.html" %}
{% block content %}

<br />
<button id="playBtn">Play</button>

<p id="waitingMsg">Waiting for camera feed...</p>
<canvas id="canvasOutput"></canvas>

<p>
    Countdown:
    <span id="countdown"></span>
</p>

<p>You played:
    <span id="playerMove"><img id="playerMoveImg" hidden width="35px"></span><br />
    Bot played:
    <span id="botMove"><img id="botMoveImg" hidden width="35px"></span>
</p>

<p>
    <b>Scores</b>
    <br />
    You: <span id="playerScore"></span><br />
    Bot: <span id="botScore"></span>
</p>

<p><b>Bot Agent</b><br />
    <input type="radio" id="random" name="agent" value="Random" checked>
    <label for="random">Random</label><br />
    <input type="radio" id="cheater" name="agent" value="Cheater">
    <label for="cheater">Cheater</label><br />
    <input type="radio" id="smart" name="agent" value="Smart">
    <label for="smart">Smart</label><br />
</p>


<video hidden id="video" width="640" height="480"></video>
<canvas id="canvasOutputCrop"></canvas>

<br><b>White background advised for maximum accuracy!</b>

<script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs@1.5.2/dist/tf.min.js"></script>
<script src="index.js"></script>
<script async src="opencv.js" type="text/javascript" onload="onCvLoaded();"></script>

{% endblock %}