{% extends "base.html" %}
{% block content %}

<br />

<p id="waitingMsg">Waiting for camera feed...</p>
<canvas id="canvasOutput"></canvas>

<p>You are showing:
    <span id="playerMove"><img id="playerMoveImg" hidden width="35px"></span><br />
</p>

<video hidden id="video" width="640" height="480"></video>
<canvas id="canvasOutputCrop"></canvas>

<br><b>White background advised for maximum accuracy!</b>

<script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs@1.5.2/dist/tf.min.js"></script>
<script src="predictor.js"></script>
<script async src="opencv.js" type="text/javascript" onload="onCvLoaded();"></script>
{% endblock %}